<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='UTF-8' />
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>

    <ul>
        <li>
            <a th:href="@{/params/string(texto='Hola desde index')}">/params/string?texto=Hola desde index</a>
        </li>
        <li>
            <a th:href="@{/params/string(texto='Que tal estás, index')}">/params/string?texto=Que tal estás, index</a>
        </li>   
        
        <li>
            <a th:href="@{/params/mix-params(saludo='Que tal estás',numero=7)}">/params/mix-params?saludo=Que tal estás&numero=7</a>
        </li>
        <li>
            <a th:href="@{/params/mix-params-request(saludo='Que tal estás',numero=7)}">/params/mix-params-request?saludo=Que tal estás&numero=7</a>
        </li>
    </ul>>

</body>
</html>